/* Primary color scheme from the layout style guide */
:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-navy-blue-8: rgba(46, 47, 66, 0.08);
  --color-navy-blue-10: rgba(46, 47, 66, 0.1);
  --color-navy-blue-16: rgba(46, 47, 66, 0.16);
  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-grey: rgba(46, 47, 66, 0.7);
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-light-slate-50: rgba(142, 143, 153, 0.5);
  --color-cornflower: #e7e9fc;
  --color-cornflower-10: rgba(231, 233, 252, 0.1);
  --color-cloud: #f4f4fd;
  --color-diary: #fcfcfc;
  --color-white: #fff;
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-black: #000;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-12: rgba(0, 0, 0, 0.12);
  --color-black-14: rgba(0, 0, 0, 0.14);
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-common-black: #2f2f37;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
  line-height: 1.5;
}

/* ==================================
   Start of: Reset styles
   ================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}

address {
  font-style: normal;
}
/* ==================================
   End of: Reset styles
   ================================== */

/* ==================================
   Start of: Add default styles for basic elements
   ================================== */
input {
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--regular:hover,
.button--regular:focus {
  background-color: var(--color-ocean);
}
/* ==================================
   End of: Add default styles for basic elements
   ================================== */

/* Pattern to hide the element visually only */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* ==================================
   Start of: Implementing a glued page footer
   ================================== */
.container-page {
  background-color: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
/* ==================================
   End of: Implementing a glued page footer
   ================================== */

/* The container element is used to limit 
   the maximum width of the page content */
.container {
  width: 100%;
  padding: 0 5px;
  margin: 0 auto;
}

/* Styles for mobile */
@media (min-width: 320px) {
  .container {
    width: 288px;
    padding: 0;
  }
  .team .container {
    padding: 0 12px;
  }
}

/* Styles for tablet */
@media (min-width: 768px) {
  .container {
    width: 736px;
  }
  .team .container {
    padding: 0 92px;
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
  .team .container {
    padding: 0 15px;
  }
}

/* ==================================
   Start of: Header section
   ================================== */
.header {
  position: sticky;
  top: 0;
  z-index: 900;
  background-color: inherit;
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0 1px 6px 0 var(--color-navy-blue-8),
    0 1px 1px 0 var(--color-navy-blue-16), 0 2px 1px 0 var(--color-navy-blue-8);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Styles for all devices which viewport
   width is above 320px */
@media (min-width: 320px) {
  .header .container {
    flex-wrap: nowrap;
  }
}

/* Add default styles for the logo element */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

.header .logo {
  padding: 16px 0;
}

/* Styles for tablet */
@media (min-width: 768px) {
  .header .logo {
    padding: 24px 0;
    margin-right: 120px;
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .header .logo {
    margin-right: 76px;
  }
}

.header__logo--highlight {
  color: var(--color-navy-blue);
}

/* Hide navigation and contacts bar
   on mobile */
.header__nav-list,
.header__contacts {
  display: none;
}

/* Styles for tablet */
@media (min-width: 768px) {
  .header__nav,
  .header__nav-list,
  .header__contacts {
    display: flex;
    align-items: center;
  }

  .header__nav-list {
    gap: 40px;
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .header__contacts-list {
    display: flex;
    gap: 40px;
  }
}

.header__menu-btn {
  background-color: transparent;
  padding: 16px 3.6px;
}

/* Hide the button that opens the side 
   menu if it's tablet or desktop */
@media (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}

.header__menu-btn .icon {
  display: flex;
  fill: var(--color-common-black);
}
/* ==================================
   End of: Header section
   ================================== */

/* Add default styles for the modal-overlay element */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-navy-blue-modal);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Allow to show the modal-overlay element */
.is-open {
  opacity: 1;
  pointer-events: auto;
}

/* Add default styles for the modal element */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-navy-blue);
  background-color: var(--color-white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==================================
   Start of: The side menu element
   ================================== */
/**
* Here also styles for the navigation 
* and contacts bar that visible in header
* when it's tablet or desktop
*
* Side menu also include the socials media 
* bar which is also used in another sections
* (with the same main styles)
*/

/* Do not allow to show the side menu
   if it's tablet or desktop */
@media (min-width: 768px) {
  .modal-overlay.side-menu {
    display: none;
  }
}

.side-menu .modal {
  width: 100%;
  height: 100%;
}

/* Styles for mobile */
@media (min-width: 320px) {
  .side-menu .modal {
    width: 320px;
  }
}

/* Add default color for icons in all
   the modal elements */
.modal .icon {
  fill: var(--color-navy-blue);
}

/* Add default styles for button that
   close the modal elment */
.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn.modal__close-btn--active:hover,
.modal__close-btn.modal__close-btn--active:focus {
  background-color: var(--color-ocean);
  border: none;
}

.modal__close-btn .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn.modal__close-btn--active:hover .icon,
.modal__close-btn.modal__close-btn--active:focus .icon {
  fill: var(--color-white);
}

.side-menu .modal__close-btn {
  border: 1px solid var(--color-navy-blue-10);
  background-color: var(--color-cornflower-10);
}

.side-menu .container {
  height: 100%;
  padding: 72px 2px 40px 4px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Styles for mobile */
@media (min-width: 320px) {
  .side-menu .container {
    padding: 72px 0 40px 0;
    margin: 0 auto;
  }
}

/* Navigation bar sub-section
   ================================== */
.side-menu__nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Add default styles for the link
   elment */
.nav-list__link {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  letter-spacing: 0.02em;
}

.nav-list__link.current-page {
  color: var(--color-ocean);
}

/* Styles for mobile */
@media (min-width: 320px) {
  .nav-list__link {
    font-size: 36px;
  }
}

/* Styles for tablet and desktop */
@media (min-width: 768px) {
  .nav-list__link {
    font-size: 16px;
    font-weight: 500;
    line-height: inherit;
    color: var(--color-navy-blue);
    padding: 24px 0;
  }

  .nav-list__link.current-page {
    position: relative;
  }

  .nav-list__link.current-page::after {
    content: "";
    background-color: var(--color-ocean);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}

.container-contacts-media {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* Contacts bar sub-section
   ================================== */
.side-menu__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Add default styles for the 
   link elements in the contacts bar */
.contacts-list__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-slate);
  letter-spacing: 0.02em;
}

/* Styles for mobile */
@media (max-width: 767px) {
  .contacts-list__item:nth-child(1) .link {
    color: var(--color-iris);
  }
}

/* Add default styles for all the 
   link elements */
.link:hover:not(.logo),
.link:focus:not(.logo) {
  color: var(--color-ocean);
}

/* Styles for mobile */
@media (min-width: 320px) {
  .contacts-list__link {
    font-size: 20px;
  }
}

/* Styles for tablet */
@media (min-width: 768px) {
  .contacts-list__link {
    font-size: 12px;
    font-weight: inherit;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 6px 0;
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .contacts-list__link {
    font-size: 16px;
    line-height: inherit;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* Socials media bar sub-section
   ================================== */
/* Add default styles for all the 
   list elements in the socials media bar */
.socials-list {
  display: flex;
}

.side-menu__socials-list {
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles for all devices which viewport
   width is above 320px */
@media (min-width: 320px) {
  .side-menu__socials-list {
    flex-wrap: nowrap;
  }
}

.socials__item {
  width: 40px;
  height: 40px;
}

/* Add default styles for the socials
   media elements */
.socials__link {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--color-ocean);
}
/* ==================================
   End of: The side menu element
   ================================== */

.socials__link .icon,
.footer-form__button .icon {
  fill: var(--color-cloud);
}

.hero,
.footer {
  width: 100%;
  background-color: var(--color-navy-blue);
}

/* ==================================
   Start of: Hero section
   ================================== */
.hero {
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      var(--color-grey),
      var(--color-grey)
    ),
    url(../images/hero/bg-pic-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

/* Use bigger background image for 
   screen with bigger pixel density
   ================================== */
@media (min-width: 320px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--color-grey),
        var(--color-grey)
      ),
      url(../images/hero/bg-pic-mobile@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--color-grey),
        var(--color-grey)
      ),
      url(../images/hero/bg-pic-tablet.jpg);
  }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--color-grey),
        var(--color-grey)
      ),
      url(../images/hero/bg-pic-tablet@2x.jpg);
  }
}

@media (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--color-grey),
        var(--color-grey)
      ),
      url(../images/hero/bg-pic-pc.jpg);
  }
}

@media (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--color-grey),
        var(--color-grey)
      ),
      url(../images/hero/bg-pic-pc@2x.jpg);
  }
}
/* ================================== */

/* Styles for mobile */
@media (min-width: 320px) {
  .hero {
    max-width: 320px;
  }
}

/* Styles for tablet */
@media (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.hero__title {
  font-size: 20px;
  line-height: inherit;
  letter-spacing: 0.02em;
  color: var(--color-white);
  text-align: center;
  max-width: 100px;
}

/* Styles for mobile */
@media (min-width: 320px) {
  .hero__title {
    font-size: 36px;
    line-height: 1.12;
    max-width: 212px;
  }
}

/* Styles for tablet */
@media (min-width: 768px) {
  .hero .container {
    gap: 36px;
  }

  .hero__title {
    font-size: 56px;
    line-height: 1.08;
    max-width: 496px;
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .hero .container {
    gap: 48px;
  }
}

.hero__button {
  display: block;
  min-width: 100px;
  padding: 16px 32px;
}

/* Styles for all devices which viewport
   width is above 320px */
@media (min-width: 320px) {
  button {
    font-size: 16px;
  }

  .hero__button {
    min-width: 169px;
  }
}
/* ==================================
   End of: Hero section
   ================================== */

/* Add default styles for all sections
   except the hero section and the 
   header section */
.features,
.team,
.portfolio,
.footer {
  padding: 96px 0;
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .features,
  .team,
  .portfolio {
    padding: 120px 0;
  }
  .footer {
    padding: 100px 0;
  }
}

/* Add default styles for all the
   section title elements */
.section__title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* Styles for all devices which viewport
   width is above 320px */
@media (min-width: 320px) {
  .section__title {
    font-size: 36px;
  }
}

/* ==================================
   Start of: Features section
   ================================== */
.features__list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
}

.features__item-icon {
  display: none;
}

/* Styles for tablet */
@media (min-width: 768px) {
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .features__card {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .features__list {
    flex-wrap: nowrap;
  }
  .features__card {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .features__item-icon {
    display: block;
  }
}

.features__item-icon--backgroud {
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  background-color: var(--color-cloud);
  width: 264px;
  height: 112px;
  position: relative;
  margin-bottom: 8px;
}

.features__card .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add default styles for all the
   info title elements */
.info-title {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}

.features__info-title {
  line-height: 1.118;
}

/* Add default styles for all the
   info text elements */
.info-text {
  font-size: 14px;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: 0.02em;
}

/* Styles for all devices which viewport
   width is above 320px */
@media (min-width: 320px) {
  /* mobile & tablet */
  .info-title {
    font-size: 20px;
  }
  .features__info-title {
    font-size: 36px;
  }
  .info-text {
    font-size: 16px;
  }
}

/* Styles for mobile */
@media (max-width: 767px) {
  .features__info-title {
    text-align: center;
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .info-title {
    font-size: 20px;
  }
}
/* ==================================
   End of: Features section
   ================================== */

/* ==================================
   Start of: Our team section
   ================================== */
.team {
  background-color: var(--color-cloud);
}

.team__list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team__card {
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 var(--color-navy-blue-8),
    0 1px 1px 0 var(--color-navy-blue-16), 0 1px 6px 0 var(--color-navy-blue-8);
}

/* Styles for tablet */
@media (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .team__card {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .team__list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team__card {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.team__info-container {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__info-text {
  margin-bottom: 8px;
}

.team__socials-list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
/* ==================================
   End of: Our team section
   ================================== */

/* ==================================
   Start of: Portfolio section
   ================================== */
.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* Styles for mobile and tablet*/
@media (max-width: 1157px) {
  .portfolio__card {
    box-shadow: 0 2px 1px 0 var(--color-navy-blue-8),
      0 1px 1px 0 var(--color-navy-blue-16),
      0 1px 6px 0 var(--color-navy-blue-8);
  }
}

/* Styles for tablet */
@media (min-width: 768px) {
  .portfolio__list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio__card {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .portfolio__list {
    row-gap: 48px;
  }
  .portfolio__card {
    flex-basis: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__card:hover,
  .portfolio__card:focus {
    cursor: pointer;
    box-shadow: 0 2px 1px 0 var(--color-navy-blue-8),
      0 1px 1px 0 var(--color-navy-blue-16),
      0 1px 6px 0 var(--color-navy-blue-8);
  }
}

/* Visible on desktop only */
.overlay {
  position: relative;
  overflow: hidden;
}

/* Styles for mobile */
@media (max-width: 767px) {
  .portfolio__head-container img {
    height: 280px;
  }
}

/* Styles for tablet */
@media (min-width: 768px) and (max-width: 1157px) {
  .portfolio__head-container img {
    height: 300px;
  }
}

.portfolio__head-container .overlay__text {
  position: absolute;
  background-color: var(--color-iris);
  font-size: 10px;
  color: var(--color-cloud);
  padding: 15px 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
}

/* Styles for all devices which viewport
   width is above 320px 
   (visibile on desktop only) */
@media (min-width: 320px) {
  .portfolio__head-container .overlay__text {
    font-size: 14px;
    padding: 40px 32px;
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .portfolio__head-container .overlay__text {
    font-size: 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* Make overlay visible on touch/click */
  .portfolio__card:hover .overlay__text,
  .portfolio__card:focus .overlay__text {
    transform: translatey(0%);
  }
}

.portfolio__info-container {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}
/* ==================================
   End of: Portfolio section
   ================================== */

/* ==================================
   Start of: Footer section
   ================================== */
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

/* Styles for tablet */
@media (min-width: 768px) {
  .footer .container {
    /* width: 584px; */
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    align-items: baseline;
    justify-content: flex-start;
  }
}

/* Styles for tablet */
@media (min-width: 768px) and (max-width: 1157px) {
  .footer .container {
    width: 584px;
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .footer .container {
    flex-wrap: nowrap;
    gap: 0;
    padding: 0 15px;
  }
  .footer__description {
    margin-right: 120px;
  }
}

.footer__logo {
  display: inline-block;
}

/* Styles for mobile */
@media (max-width: 767px) {
  .footer__logo {
    width: 100%;
    text-align: center;
  }
}

.footer__logo--highlight {
  color: var(--color-cloud);
}

.footer__logo,
.footer__title {
  margin-bottom: 16px;
}

.footer__title {
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
}

/* Styles for tablet and desktop*/
@media (min-width: 768px) {
  .footer__title {
    text-align: left;
  }
}

.footer__text {
  font-size: 12px;
  color: var(--color-cloud);
}

/* Styles for all devices which viewport
   width is above 320px */
@media (min-width: 320px) {
  .footer__text {
    font-size: 16px;
  }
}

.footer__text.description__text {
  max-width: 288px;
}

/* Styles for tablet and desktop*/
@media (min-width: 768px) {
  .footer__text.description__text {
    max-width: 264px;
  }
  .footer__social-media {
    margin-right: 80px;
  }
}

.footer__socials-list {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer__socials-list .socials__link:hover,
.footer__socials-list .socials__link:focus {
  background-color: var(--color-green);
}

/* Add default styles for all the 
   form input elements */
.form__input {
  height: 40px;
}

/* Add default styles for all the 
   form input (included textarea type)
   elements */
.form__input,
.form__textarea {
  font-size: 12px;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer form sub-section
   ================================== */
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 288px;
}

/* Styles for tablet and desktop */
@media (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    gap: 24px;
    max-width: 453px;
  }
}

.footer-form__input {
  max-width: 288px;
  padding: 8px 16px;
  color: var(--color-white);
  border: 1px solid var(--color-white-30);
  line-height: 2;
  box-shadow: 0px 4px 4px var(--color-black-15);
}

/* Styles for mobile */
@media (min-width: 320px) {
  .footer-form__input {
    width: 288px;
  }
}

/* Styles for tablet */
@media (min-width: 768px) {
  .footer-form__input {
    width: 264px;
  }
}

.footer-form__input::placeholder {
  color: var(--color-white-30);
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .footer-form__input {
    border-color: var(--color-white);
  }
  .footer-form__input::placeholder {
    color: var(--color-white);
  }
}

.footer-form__button {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
}

.footer-form__button .icon {
  margin-left: 16px;
}
/* ==================================
   End of: Footer section
   ================================== */

/* ==================================
   Start of: Overlay with form for user contacts
   ================================== */
.user-contacts .modal {
  width: 100%;
  height: 100%;
  padding: 72px 0 24px 0;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 var(--color-black-14),
    0 1px 3px 0 var(--color-black-12), 0 2px 1px 0 var(--color-black-20);
}

/* Styles for mobile */
@media (min-width: 320px) {
  .user-contacts .modal {
    width: 288px;
    height: 623px;
  }
  .modal-overlay.user-contacts .container {
    width: 256px;
  }
}

/* Styles for tablet */
@media (min-width: 768px) {
  /* tablet & desktop */
  .user-contacts .modal {
    width: 408px;
    height: 584px;
  }
  .modal-overlay.user-contacts .container {
    width: 360px;
  }
}

/* Styles for desktop */
@media (min-width: 1158px) {
  .modal-overlay.user-contacts .container {
    padding: 0;
  }
}

.user-contacts .modal__close-btn {
  border: 1px solid var(--color-black-10);
  background-color: var(--color-cornflower);
}

.user-contacts .modal__title {
  max-width: 256px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto 16px auto;
}

/* Styles for tablet and desktop */
@media (min-width: 768px) {
  .user-contacts .modal__title {
    max-width: 360px;
  }
}

/* Add default styles for all the 
   label elements in modal form */
.modal-form label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}

.modal-form__item-input {
  margin-bottom: 8px;
}

.modal-form__input-label {
  display: block;
  margin-bottom: 4px;
}

.modal-form__container-input {
  position: relative;
}

.modal-form__input,
.modal-form__textarea {
  line-height: 1.17;
  border: 1px solid var(--color-navy-blue-modal);
  width: 100%;
}

/* Form inputs sub-section
   ================================== */
.modal-form__input {
  color: var(--color-navy-blue);
  padding: 11px 16px 11px 38px;
}

/* Positioning of the icon element inside 
   the input element */
.modal-form__input + .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* The input element in focus sub-section
   ================================== */
.modal-form__input:focus-within,
.modal-form__textarea:focus-within {
  border-color: var(--color-iris);
}

/* Leave the default text color for 
   the textarea element */
.modal-form__input:focus-within {
  color: var(--color-iris);
}

.modal-form__input:focus-within + .icon {
  fill: var(--color-iris);
}
/* ================================== */

.modal-form__item-textarea {
  margin-bottom: 16px;
}

.modal-form__textarea {
  display: block;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  color: var(--color-light-slate-50);
}

.modal-form__textarea::placeholder {
  color: var(--color-navy-blue-modal);
}

/* The policy sub-section
   ================================== */
.modal-form__container-policy {
  margin-bottom: 24px;
}

.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal-form__privacy-link {
  display: inline;
  text-decoration: underline;
  color: var(--color-iris);
}

/** 
 * The original checkbox element is
 * hidden by using the visually-hidden
 * pattern (access by its label)
 */
/* Styles for the custom checkbox element */
.modal-form__checkbox--frame {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-navy-blue-modal);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Styles for the custom checkbox element 
   when the checkbox elemtn is checked */
.modal-form__checkbox:checked
  + .modal-form__checkbox-label
  .modal-form__checkbox--frame {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-cloud);
}

.modal-form__checkbox-label .icon {
  fill: transparent;
}

.modal-form__checkbox:checked + .modal-form__checkbox-label .icon {
  fill: var(--color-cloud);
}
/* ================================== */

/* The button element to submit 
   the form data */
.modal-form__button {
  display: block;
  width: 100%;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
}

/* Styles for all devices which viewport
   width is above 320px */
@media (min-width: 320px) {
  .modal-form__button {
    width: auto;
    min-width: 169px;
  }
}
/* ==================================
   End of: Overlay with form for user contacts
   ================================== */
