:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-navy-blue-8: rgba(46, 47, 66, 0.08);
  --color-navy-blue-16: rgba(46, 47, 66, 0.16);
  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-grey: rgba(46, 47, 66, 0.7);
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-diary: #fcfcfc;
  --color-white: #fff;
  --color-black: #000;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-12: rgba(0, 0, 0, 0.12);
  --color-black-14: rgba(0, 0, 0, 0.14);
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-common-black: #2f2f37;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  width: 288px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 736px;
  }
}

@media (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0 1px 6px 0 var(--color-navy-blue-8),
    0 1px 1px 0 var(--color-navy-blue-16), 0 2px 1px 0 var(--color-navy-blue-8);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

.header .logo,
.header__menu-btn {
  padding: 16px 0;
}

@media (min-width: 768px) {
  .header .logo {
    line-height: 1.17;
    padding: 24px 0;
    margin-right: 120px;
  }
}

@media (min-width: 1158px) {
  .header .logo {
    margin-right: 76px;
  }
}

.header__logo--highlight {
  color: var(--color-navy-blue);
}

.header__nav-list,
.header__contacts {
  display: none;
}

@media (min-width: 768px) {
  .header__nav,
  .header__nav-list,
  .header__contacts {
    display: flex;
    align-items: center;
  }

  .header__nav-list {
    gap: 40px;
  }
}

@media (min-width: 1158px) {
  .header__contacts-list {
    display: flex;
    gap: 40px;
  }
}

.header__menu-btn {
  display: flex;
  flex-direction: column;
  gap: 3.6px;
  margin-right: 3.6px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}

.header__menu-item {
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-common-black);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-navy-blue-modal);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-navy-blue);
  background-color: var(--color-white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .modal-overlay.side-menu {
    display: none;
  }
}

.side-menu .modal {
  width: 320px;
  height: 100%;
}

.modal .icon {
  fill: var(--color-navy-blue);
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.side-menu .modal__close-btn {
  border: 1px solid var(--color-navy-blue);
  background-color: var(--color-cornflower);
}

.side-menu .container {
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-menu__nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav-list__link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  letter-spacing: inherit;
}

.nav-list__link.current-page {
  color: var(--color-ocean);
}

@media (min-width: 768px) {
  .nav-list__link {
    font-size: 16px;
    font-weight: 500;
    line-height: inherit;
    color: var(--color-navy-blue);
    padding: 24px 0;
  }

  .nav-list__link.current-page {
    position: relative;
  }

  .nav-list__link.current-page::after {
    content: "";
    background-color: var(--color-ocean);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}

.container-contacts-media {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.side-menu__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-list__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-slate);
  letter-spacing: inherit;
}

.contacts-list__item:nth-child(1) .link {
  color: var(--color-iris);
}

@media (min-width: 768px) {
  .contacts-list__link {
    font-size: 12px;
    font-weight: inherit;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 6px 0;
  }

  .contacts-list__item:nth-child(1) .link {
    color: var(--color-slate);
  }
}

@media (min-width: 1158px) {
  .contacts-list__link {
    font-size: 16px;
    line-height: inherit;
    color: var(--color-slate);
    letter-spacing: inherit;
    padding: 24px 0;
  }

  .link:hover:not(.logo),
  .link:focus:not(.logo) {
    color: var(--color-ocean);
  }
}

.socials-list {
  display: flex;
}

.side-menu__socials-list {
  gap: 40px;
}

.socials__item {
  width: 40px;
  height: 40px;
}

.socials__link {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:not(.modal__close-btn .icon) {
  fill: var(--color-cloud);
}

.hero,
.footer {
  background-color: var(--color-navy-blue);
}

.hero {
  max-width: 320px;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      var(--color-grey),
      var(--color-grey)
    ),
    url(../images/hero/bg-pic.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--color-grey),
        var(--color-grey)
      ),
      url(../images/hero/bg-pic@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.hero__title {
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: inherit;
  color: var(--color-white);
  text-align: center;
  max-width: 212px;
}

@media (min-width: 768px) {
  .hero .container {
    gap: 36px;
  }

  .hero__title {
    font-size: 56px;
    line-height: 1.08;
    max-width: 496px;
  }
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: var(--color-ocean);
}

.hero__button {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
}
