:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-navy-blue-8: rgba(46, 47, 66, 0.08);
  --color-navy-blue-16: rgba(46, 47, 66, 0.16);
  --color-navy-blue-70: rgba(46, 47, 66, 0.7);
  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-diary: #fcfcfc;
  --color-white: #fff;
  --color-black: #000;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-12: rgba(0, 0, 0, 0.12);
  --color-black-14: rgba(0, 0, 0, 0.14);
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-black-20: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px var(--color-navy-blue-8),
    0px 1px 1px var(--color-navy-blue-16), 0px 1px 6px var(--color-navy-blue-8);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header__nav,
.header__contacts {
  display: flex;
  align-items: center;
}

.header__nav-list,
.header__contacts-list {
  display: flex;
  gap: 40px;
}

.header .link {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

.header .logo {
  margin-right: 76px;
}

.header__logo--highlight {
  color: var(--color-navy-blue);
}

.footer__logo--highlight {
  color: var(--color-cloud);
}

.nav-list__link {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-navy-blue);
  letter-spacing: inherit;
}

.nav-list__link.current-page {
  color: var(--color-ocean);
  position: relative;
}

.nav-list__link.current-page::after {
  content: "";
  background-color: var(--color-ocean);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  bottom: -1px;
}

address {
  font-style: normal;
}

.contacts-list__link {
  font-size: 16px;
  color: var(--color-slate);
  letter-spacing: inherit;
}

.link:hover:not(.logo),
.link:focus:not(.logo) {
  color: var(--color-ocean);
}

main {
  flex-grow: 1;
}

.hero {
  max-width: 1440px;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      var(--color-navy-blue-70),
      var(--color-navy-blue-70)
    ),
    url(../images/hero/bg-pic.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.hero__title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--color-white);
  text-align: center;
  letter-spacing: inherit;
  max-width: 496px;
}

button {
  cursor: pointer;
  font-weight: 500;
  line-height: inherit;
  font-family: inherit;
  background-color: var(--color-iris);
  color: var(--color-white);
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: var(--color-ocean);
}

.hero__button {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
}

.hero,
.footer {
  background-color: var(--color-navy-blue);
}

.features,
.team,
.portfolio {
  padding: 120px 0;
}

.info-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: inherit;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}

.info-text {
  font-size: 16px;
  letter-spacing: inherit;
}

.section__title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-navy-blue);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: inherit;
  margin-bottom: 72px;
}

.socials__item {
  width: 40px;
  height: 40px;
}

.socials__link {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:not(.modal .icon) {
  fill: var(--color-cloud);
}

.features__list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.features__card {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.features__item-icon--backgroud {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  background-color: var(--color-cloud);
  width: 264px;
  height: 112px;
  position: relative;
  margin-bottom: 8px;
}

.features__card .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team {
  background-color: var(--color-cloud);
}

.team__list {
  display: flex;
  gap: 24px;
}

.team__card {
  background-color: var(--color-white);
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 var(--color-navy-blue-8),
    0 1px 1px 0 var(--color-navy-blue-16), 0 1px 6px 0 var(--color-navy-blue-8);
}

.team__info-container {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__info-text {
  margin-bottom: 8px;
}

.team__socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team__socials-list .socials__link:hover,
.team__socials-list .socials__link:focus {
  background-color: var(--color-ocean);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio__card {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover,
.portfolio__card:focus {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 var(--color-navy-blue-8),
    0 1px 1px 0 var(--color-navy-blue-16), 0 1px 6px 0 var(--color-navy-blue-8);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__head-container .overlay__text {
  position: absolute;
  background-color: var(--color-iris);
  color: var(--color-cloud);
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover .overlay__text,
.portfolio__card:focus .overlay__text {
  transform: translatey(0%);
}

.portfolio__info-container {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}

.footer {
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer__description {
  margin-right: 120px;
}

.footer__logo {
  display: inline-block;
}

.footer__logo,
.footer__title {
  margin-bottom: 16px;
}

.footer__title {
  font-weight: 500;
  color: var(--color-white);
}

.footer__text {
  color: var(--color-cloud);
}

.description__text {
  max-width: 264px;
}

.footer__social-media {
  margin-right: 80px;
}

.footer__socials-list {
  display: flex;
  gap: 16px;
}

.footer__socials-list .socials__link:hover,
.footer__socials-list .socials__link:focus {
  background-color: var(--color-green);
}

.form__input {
  height: 40px;
}

.form__input,
.form__textarea {
  font-size: 12px;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  display: flex;
  gap: 24px;
  max-width: 453px;
}

.footer-form__input {
  width: 264px;
  padding: 8px 16px;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  line-height: 2;
  box-shadow: 0px 4px 4px var(--color-black-15);
}

.footer-form__input::placeholder {
  color: currentColor;
}

.footer-form__button {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
}

.footer-form__button .icon {
  margin-left: 16px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-navy-blue-modal);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  color: var(--color-navy-blue);
  background-color: var(--color-diary);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 var(--color-black-14),
    0 1px 3px 0 var(--color-black-12), 0 2px 1px 0 var(--color-black-20);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .icon {
  fill: var(--color-navy-blue);
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid var(--color-black-10);
  background-color: var(--color-cornflower);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  background-color: var(--color-ocean);
  border: none;
}

.modal__close-btn .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .icon,
.modal__close-btn:focus .icon {
  fill: var(--color-white);
}

.modal__title {
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form__item-input {
  margin-bottom: 8px;
}

.modal-form__input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  margin-bottom: 4px;
}

.modal-form__container-input {
  position: relative;
}

.modal-form__input,
.modal-form__textarea {
  line-height: 1.17;
  border: 1px solid var(--color-navy-blue-modal);
  width: 100%;
}

.modal-form__input {
  color: var(--color-navy-blue);
  padding: 11px 16px 11px 38px;
}

.modal-form__input + .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus-within,
.modal-form__textarea:focus-within {
  border-color: var(--color-iris);
}

.modal-form__input:focus-within {
  color: var(--color-iris);
}

.modal-form__input:focus-within + .icon {
  fill: var(--color-iris);
}

.modal-form__item-textarea {
  margin-bottom: 16px;
}

.modal-form__textarea {
  display: block;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  color: var(--color-navy-blue-modal);
}

.modal-form__textarea::placeholder {
  color: var(--color-navy-blue-modal);
}

.modal-form__container-policy {
  margin-bottom: 24px;
}

.modal-form__checkbox-label {
  color: var(--color-light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form__privacy-link {
  display: inline;
  text-decoration: underline;
  color: var(--color-iris);
}

.modal-form__checkbox--frame {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--color-navy-blue-modal);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked
  + .modal-form__checkbox-label
  .modal-form__checkbox--frame {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-cloud);
}

.modal-form__checkbox-label .icon {
  fill: transparent;
}

.modal-form__checkbox:checked + .modal-form__checkbox-label .icon {
  fill: var(--color-cloud);
}

.modal-form__button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
}
